Clue/nbproject/genfiles.properties
Clue/nbproject/project.properties
Clue/nbproject/build-impl.xml
Clue/build.xml
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
build/*
nbbuild/
dist/
dist/*
nbdist/
.nb-gradle/
*.html
*.js
*.zip
*.css
*.png
